@font-face {
    font-family: sf-pro-light;
    src: url(../assets/font/SF-Pro-Text-Font-Family/SF-Pro-Text-Light.ttf);

}

@font-face {
    font-family: sf-pro-semibold;
    src: url(../assets/font/SF-Pro-Text-Font-Family/SF-Pro-Text-Semibold.ttf);
  }

  @font-face {
    font-family: sf-pro-regular;
    src: url(../assets/font/SF-Pro-Text-Font-Family/SF-Pro-Text-Regular.ttf);
  }


.section-one {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #1D1D1F;
    font-family: sf-pro-light;
    font-size: 13.5px;
    font-weight: 600;
    height: 45px;
    text-align: center;
}

.section-one img {
    margin-left: 8px;
    align-items: center;
}

.section-two {
    background-image: url(../assets/img/section-two-img.png);
    background-size: cover;
    background-position: center;
    height: 580px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    flex-direction: column;
    
    
    
}

.iphone-heading {
    font-size: 54px;
    padding: 0;
    /* background-color: orange; */
    font-family: sf-pro-semibold;
}

.iphone-heading-2 {
    font-size: 25px;
    font-family: sf-pro-light;
    font-weight: 600;
}

.learn-more {
    font-family: sf-pro-light;
    font-size: 20px;
}

.section-two-two {
    background-image: url(../assets/img/section-two-img-2.png);
    background-size: cover;
    background-position: center;
    height: 580px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: black;
    flex-direction: column;
    
    
    
}